
.movie-details, .movie-details__container,
.movie-details__info, .movie-details__badges,
.movie-datails__vote , .movie-details__button,
.movie-details__button-back  {
    display: flex;
}

.movie-details {
    width: 100vw;
    height: 100vh;
    color: var(--white);
    justify-content: center;
    align-items: center;
}

.movie-details__poster {
    width: 400px;
    height: auto;
    border-radius: .75rem;
}

.movie-details__container {
    backdrop-filter: blur(0px) saturate(200%);
    -webkit-backdrop-filter: blur(0px) saturate(200%);
    background-color: rgba(6, 9, 15, 0.61);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    max-width: 1280px;
    height: 700px;
    padding: 4rem;
    gap: 2rem;
}

.movie-details__info {
    flex-direction: column;
}

.movie-details__title {
    font-size: 3rem;
    font-weight: 700;
}

.movie-details__sinopse {
    font-size: 1rem;
    font-weight: 500;
    text-align: justify;
}

.movie-details__badges {
    align-items: center;
    margin: 3rem 0;
}

.movie-datails__release-date {
    font-size: 1rem;
    font-weight: 500;
    margin: 2rem 0;
}

.movie-datails__vote {
    background: var(--red);
    padding: .5rem;
    width: 70px;
    text-align: center;
    border-radius: .5rem;
    font-weight: 700;
    font-size: 1rem;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.movie-details__button {
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1;
    margin-top: 1.5rem;
}

.movie-details__button-back {
    background: #000;
    padding: 1.1rem 1rem;
    width: 150px;
    text-align: center;
    color: var(--red);
    font-size: 1rem;
    font-weight: 700;
    border-radius: .5rem;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    transition: all .3s ease-in-out;
}
.movie-details__button-back:hover {
    background: var(--red);
    color: var(--white);
}

@media(max-width: 1300px){
    .movie-details__container {
        margin: 2rem;
        align-items: center;
        border: 1px solid red;
    }

    .movie-details__poster {
        width: 300px;
    }
    
    .movie-details__title {
        font-size: 2.5rem;
    }

    .movie-details__badges  {
        margin: .6rem 0;
    }
}

@media(max-width: 1050px) {
   
    .movie-details__poster {
        width: 290px;
    }

    .movie-details__container {
        flex-direction: column;
        padding: 1rem .8rem;
        height: 100vh;

        max-height: 100vh;
    }

    .movie-details__info {
        justify-content: center;
        align-items: center;
     }

     .movie-details__title {
        text-align: center;
     }
}

@media(max-width: 900px)  {
    .movie-details__poster {
        width: 250px;
    }

}